---
import Content from "../components/Content.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/BaseLayout.astro";
import ContactSection from "../components/ContactSection.astro";
import Section from "../components/Section.astro";
---

<Layout
  title="Contact Root Expo Organizers"
  description="Project team and contact information for Root Expo."
  tags={[
    "Root Expo",
    "Turku",
    "Contact Organizers",
    "Digit ry",
    "Asteriski ry",
  ]}
>
  <Content>
    <Section>
      <Title text="CONTACT US." />
      <ContactSection />
    </Section>

  </Content>
</Layout>
