---
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import MatterportEmbed from "../components/MatterportEmbed.astro";
import Pricing from "../components/Pricing.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  title="For Partner Companies"
  description="What you get as a partner organization at Root Expo."
  tags={[
    "Root Expo",
    "Turku",
    "Partner Employers",
    "For Partners",
    "IT Career Fair",
    "IT Talent",
    "Networking",
  ]}
>
  <Content>
    <Section>
    <Title text="#1 IT CAREER FAIR IN TURKU." />
    <Body
      text=`We aim to become the largest meeting point for IT talent and employers in the region, attracting a relevant and enthusiastic audience. Participants will have a unique chance to learn about the future of IT through inspiring talks and get helpful tips for job applications directly from you.`
    />

    <Body
      text=`For companies, this event offers great visibility and a chance to meet promising future professionals. We also warmly welcome international talent, providing everyone with a comfortable space to network, be themselves, and create meaningful connections.`
    />
    </Section>

    <Section>
    <Title text="WE BELIEVE IN THE POWER OF SOCIAL MEDIA." />
    <Body text="Reaching the right audience requires the right tools. Social media helps us boost the impact of the event and amplify your brand presence. We're here to make a real difference together." />
    </Section>

    <Section>
    <Title text="EVERY CONVERSATION COULD BE A TURNING POINT." />
    <Body text="Every conversation is a chance to share insight, build connections, and create value — for both sides." />
    </Section>

    <Section>
    <Title text="WHAT YOU GET." />
    <Body
      text=`1. Exhibition stand at the epic venue. Meet the future of IT and promote your company in person.`
    />
    <Body
      text=`2. Multichannel visibility. Get your brand in the spotlight via our website and social media channels.
`
    />
    <Body text=`3. 100% focus on IT. Reach your specific target group.` />
    <Body
      text=`4. Not just stands. Gain even more visibility with a workshop, keynote or company presentation.`
    />
    </Section>

    <Section>
    <Title text="PRICING." />
    <Pricing />
    </Section>
    
  </Content>
</Layout>
