---
import Body from "../components/Body.astro";
import Hero from "../components/Hero.astro";
import SubTitle from "../components/SubTitle.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/BaseLayout.astro";
import Partners from "../components/Partners.tsx";
---

<Layout
  title="For Talents"
  description="What value do we bring for the IT talent?"
>
  <Hero
    title="CONNECTING IT PEOPLE WITH THE BEST OF THE FIELD."
    subtitle="The first IT career fair in Proper Finland. From IT students to IT students. Get along the hype and join us to build the future of IT."
    date="20.11.2025"
  />
  <Title text="WHY? 👇" />
  <p>3 points component here</p>
  <Title text="WHEN, WHERE? 👀" />
  <p>Countdown and location component</p>
  <Title text="MAIN PARTNER" />
  <p>Main partner intro here</p>
  <Title text="PARTNERS" />
  <p>Partner intro here</p>
  <Partners client:load />
</Layout>
