---
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/BaseLayout.astro";
import NumberCards from "../components/NumberCards.astro";
import StaticPartnersPage from "../components/PartnersStatic";
import MatterportEmbed from "../components/MatterportEmbed.astro";
import Section from "../components/Section.astro";
import FaqIndex from "../components/FaqIndex.astro";
import SpeakerSection from "../components/SpeakerSection.astro";
import JobDatingSection from "../components/JobDatingSection.astro";
import ScheduleSection from "../components/ScheduleSection.astro";
import AfterpartySection from "../components/AfterpartySection.astro";
---

<Layout
  title="Root Expo"
  description="Root Expo aims to be the best IT career fair in Finland. Join us Q4 2026 to connect, explore, and grow."
  tags={[
    "Root Expo",
    "Turku",
    "Recruitment Fair",
    "Software Developer",
    "Career",
    "Junior IT jobs",
    "Professional Growth",
    "Networking",
    "Job Dating",
    "CV Workshop",
  ]}
>
  <Hero />
  <Section />

  <Content>
    <Section>
      <Title text="WHAT MAKES US DIFFERENT." />
      <NumberCards
        cards={[
          {
            number: "4000+",
            description: "Talent reach in our network.",
          },
          {
            number: "5+",
            description: "Side events.",
          },
          {
            number: "#1",
            description: "IT career fair in Turku.",
          },
          {
            number: "100 %",
            description: "Focus on IT.",
          },
        ]}
      />
    </Section>

    {
      /*
  <Section>
    <CustomContactSection
    title="Interested in becoming a partner? Contact us!"
    people={["Tom Pippuri", "Eero Pirkkalainen"]}
    />
  </Section>
  */
    }

    <Section>
      <Title text="YOU DON'T NEED TO BE PERFECT — JUST CURIOUS." />
      <Body
        text="Root Expo brings together the most exciting companies and talented IT people in the Turku region. Join us for inspiring speakers, interactive workshops, and engaging and innovative networking. This is an adventure where everyone's welcome—no sign-up needed!"
      />
      <!--      <Image src="public/images/joki54.png" alt="Visitor Center Joki"></Image> -->
    </Section>

    <Section>
      <Title text="Our amazing speakers in 2025." />
      <SpeakerSection />
    </Section>

    <Section>
      <Title text="JOB DATING." />
      <JobDatingSection />
    </Section>

    <Section>
      <Title text="PROGRAM SCHEDULE." />
      <ScheduleSection />
    </Section>

    <Section>
      <Title text="AFTERPARTY BY REAKTOR." />
      <AfterpartySection />
    </Section>

    <Section>
      <Title text="PARTNERS." />
      <StaticPartnersPage />
    </Section>

    <Section>
      <Title text="Frequently Asked Questions (FAQ)." />
      <FaqIndex />
    </Section>
  </Content>
</Layout>
