<br />
<section class="container mx-auto jobdating-section">

    <!-- <br /> -->

    <h4 class="text-lg font-bold">CONTINUE YOUR ROOT EXPO DAY At 18:00 when we’ll kick off the EXCLUSIVE afterparty at our main partner Reaktor’s office.</h4>
    <br />
    <p class="text-lg font-bold">Afterparty includes:</p>
    <ul class="list-disc list-inside mt-2 mb-2">
        <li class="ml-12">Sauna (please wear a swimsuit).</li>
        <li class="ml-12">Food, snacks and drinks.</li>
        <li class="ml-12">DJ, karaoke and music.</li>
        <li class="ml-12">Networking and hanging out is guaranteed.</li>
      </ul>

    <br />

    <h3 class="text-lg font-bold">There are 2 ways to get super limited tickets to the afterparty:</h3>

    <ol class="list-decimal list-inside mt-2">
      <li class="ml-6 font-bold"> Be early at the event.</li>
      <ul class="list-disc list-inside mt-2 mb-2">
        <li class="ml-12">The event producers will give away tickets at the Root Expo info at 12:00, at the start of the event.</li>
        <li class="ml-12">Limited amount of tickets available, so be quick!</li>
      </ul>
      <li class="ml-6 font-bold"> Visit Reaktor's stand.</li>
      <ul class="list-disc list-inside mt-2 mb-2">
        <li class="ml-12">Reaktor will give away tickets for lucky visitors.</li>
        <li class="ml-12">Be sure to visit Reaktor's stand and introduce yourself!</li>
      </ul>
    </ol>

    <br />

    <p class="text-lg font-bold">Afterparty will be held at Reaktor's office in Turku.</p>
    <p>Address: Läntinen Rantakatu 15</p>

</section>




<style>
  .faq-section {
    max-width: 3000px;
    margin: 0 auto;
    padding: 2rem;
  }

  .faq-section h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
</style>