---
import ContactCard from "./ContactCard.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-[1280px] mx-auto px-6 mb-8">
    <ContactCard
    name="Digit ry"
    title="Project team"
    email="digit@utu.fi"
    phone=""
    text="Business ID: 2285810-4"
    />
    <ContactCard
    name="Asteriski ry"
    title="Invoicing"
    email="hallitus@asteriski.fi"
    phone=""
    text="Business ID: 3032318-5"
    />
    <ContactCard
    name="Marius Ranta"
    title="Event Coordinator"
    email="mavran@utu.fi"
    phone="045 208 8191"
    text=""
    />

    <ContactCard
    name="Tom Pippuri"
    title="Head of Sales"
    email="tom.a.pippuri@utu.fi"
    phone="045 652 5556"
    text=""
    />
    <ContactCard
    name="Eero Pirkkalainen"
    title="Sales Manager"
    email="e.pirkkalainen@student.maastrichtuniversity.nl"
    phone="040 196 3005"
    text=""
    />

    <ContactCard
    name="Eetu Salminen"
    title="Sales & Venue"
    email="eosalm@utu.fi"
    phone="040 1616 002"
    text=""
    />

    <ContactCard
    name="Riku Lauttia"
    title="Sales Manager"
    email="rtlaut@utu.fi"
    phone=""
    text=""
    />

    <ContactCard
    name="Janina Paasila"
    title="Marketing, Brand & Design"
    email=""
    phone=""
    text=""
    />

    <ContactCard
    name="Onnimanni Hannonen"
    title="Software Developer"
    email=""
    phone=""
    text=""
    />

    <ContactCard
    name="Jesse Lappalainen"
    title="Software Developer"
    email=""
    phone=""
    text=""
    />

    <ContactCard
    name="Juho Torkkeli"
    title="Software Developer"
    email=""
    phone=""
    text=""
    />

</div>