---
import FaqBox from "./FaqBox.tsx";
---

<section class="container mx-auto px-6 faq-section">
  <br />

  <FaqBox question="Why should I join Root Expo as a visitor?" client:load>
    <p>You should join this event so you can:</p>
    <ul class="list-disc list-inside mt-2">
      <li class="ml-6">Connect with potential employers.</li>
      <li class="ml-6">Discover opportunities.</li>
      <li class="ml-6">Grow your professional network.</li>
    </ul>
  </FaqBox>

  <FaqBox question="What is job dating?" client:load>
    <p>
      A fast-paced networking event connecting job seekers and employers through
      short, timed meetings.
    </p>
  </FaqBox>

  <FaqBox question="How does the job dating app work?" client:load>
    <p>
      It matches job seekers and employers, schedules meetings, and provides
      event details.
    </p>
  </FaqBox>

  <FaqBox question="Is it free to attend Root Expo?" client:load>
    <p>Absolutely.</p>
  </FaqBox>

  <FaqBox question="When and where is the next Root Expo?" client:load>
    <ul class="list-disc list-inside mt-2">
      <li class="ml-6">When: End of 2026.</li>
      <li class="ml-6">
        Where: Follow us in social media to be the first to know!
      </li>
    </ul>
  </FaqBox>
</section>

<!-- <style>
  .faq-section {
    max-width: 1800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .faq-section h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
</style> -->

<!-- <FaqBox question="What is Root Expo afterparty?" client:load>
    <p>A networking event after the fair to connect in a relaxed setting.</p>
  </FaqBox> -->

<!-- <FaqBox question="How to get employed via Root Expo?" client:load>
    <p>To maximize your chances of getting employed, you should:</p>
    <ul class="list-disc list-inside mt-2">
      <li class="ml-6">Attend meetings.</li>
      <li class="ml-6">Present your skills.</li>
      <li class="ml-6">Follow up with interested companies.</li>
    </ul>
  </FaqBox> -->

<!-- <FaqBox question="Who can visit Root Expo?" client:load>
    <p>Students, job seekers, and professionals interested in new opportunities.</p>
  </FaqBox> -->

<!-- <FaqBox question="How to access Root Expo afterparty?" client:load>
    <p>By registering in the job dating app and showing up early.</p>
  </FaqBox> -->
