---
import Logo from "./Logo.astro";
import SocialsLinks from "./SocialsLinks.astro";

const today = new Date();
---

<footer class="py-12 px-4 bg-container">
  <div
    class="max-w-[1280px] mx-auto grid [grid-template-columns:repeat(auto-fit,minmax(280px,1fr))] gap-10"
  >
    <Logo class="" />

    <div class="flex flex-col">
      <h3 class="">ROOT EXPO 2026</h3>

      <div class="">
        <p>17.11.2026</p>
        <br />
        <p>Root Expo ry</p>
        <p>3594286-6</p>
        <p>Hämeenkatu 9, Turku</p>
        <br />
        <p>Follow us on social media to be the first to know more!</p>
      </div>
    </div>

    <div class="flex flex-col">
      <h3 class="">SOCIALS</h3>

      <div class="mt-4">
        <SocialsLinks />
      </div>
    </div>
  </div>

  <p class="text-center mt-8 text-white/10">
    &copy; {today.getFullYear()} All rights reserved.
  </p>
</footer>
