---
import Logo from "./Logo.astro";
import SocialsLinks from "./SocialsLinks.astro";

const today = new Date();
---

<footer class="py-8 px-4 pb-24 bg-container text-center">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 md:gap-5 my-2 md:my-4">
    <Logo class="self-center" />
    <div class="flex flex-col">
      <h3 class="text-accent text-lg md:text-lg lg:text-xl">
        20.11.2025
        <div
          class="text-white text-xs md:text-sm lg:text-base mt-2 md:mt-4 lg:mt-6"
        >
          <p>Visitor & Innovation Centre Joki</p>
          <p>Lemminkäisenkatu 12 B</p>
          <p>20520 TURKU</p>
        </div>
      </h3>
    </div>
    <div class="flex flex-col align-center">
      <h3 class="text-accent text-lg md:text-lg lg:text-xl">SOCIALS</h3>
      <div class="self-center">
        <SocialsLinks />
      </div>
    </div>
  </div>
  <p class="mt-10 md:mt-15 lg:mt-20">
    &copy; {today.getFullYear()} All rights reserved.
  </p>
</footer>
