---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
---

<header
  class="m-0 py-4 px-4 sticky top-0 left-0 w-full transition-transform duration-300 bg-gradient-custom"
>
  <nav
    class="flex items-center justify-center md:justify-end lg:justify-between"
  >
    <div class="hidden lg:inline-block">
      <Logo />
    </div>
    <div class="internal-links">
      <HeaderLink href="/for-talent">FOR TALENT</HeaderLink>
      <HeaderLink href="/for-partners">FOR PARTNERS</HeaderLink>
      <HeaderLink href="/contact">CONTACT</HeaderLink>
    </div>
  </nav>
</header>
<style>
  .bg-gradient-custom {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let lastScrollTop = 0;
    const header = document.querySelector("header");

    window.addEventListener("scroll", () => {
      let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop) {
        // Scrolling down
        header?.classList.add("-translate-y-full");
      } else {
        // Scrolling up
        header?.classList.remove("-translate-y-full");
      }

      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
    });
  });
</script>
