---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[
    className,
    "inline-block text-sm md:text-base p-0.5 sm:p-2 md:p-4 pt-1 md:pt-2 pb-1.5 md:pb-2.5 text-white no-underline hover:text-accent",
    {
      "font-bold underline border-b-2 md:border-b-4 text-accent border-accent":
        isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
