---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="m-0 py-4 px-4 fixed top-0 left-0 w-full">
  <nav class="flex items-center justify-between">
    <h2 class="m-0 text-base">
      <a href="/" class="no-underline text-white hover:text-var(--accent)"
        >{SITE_TITLE}</a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink
        href="/for-talents"
        class="p-4 pt-2 pb-2.5 text-white no-underline hover:text-var(--accent) border-b-4 border-transparent hover:border-accent active:border-accent"
        >FOR TALENT</HeaderLink
      >
      <HeaderLink
        href="/for-employers"
        class="p-4 pt-2 pb-2.5 text-white no-underline hover:text-var(--accent) border-b-4 border-transparent hover:border-accent active:border-accent"
        >FOR PARTNERS</HeaderLink
      >
      <HeaderLink
        href="/contact"
        class="p-4 pt-2 pb-2.5 text-white no-underline hover:text-var(--accent) border-b-4 border-transparent hover:border-accent active:border-accent"
        >CONTACT</HeaderLink
      >
    </div>
  </nav>
</header>
