---
interface Props {
  title: string;
  subtitle: string;
  date: string;
}

const { title, subtitle, date } = Astro.props;
---

<div
  class="w-screen h-screen bg-[url(/hero.webp)] bg-no-repeat bg-cover flex flex-col justify-end gap-4"
>
  <div class="mb-[25vh] ml-20 w-full max-w-[75vw]">
    <h1 class="font-bold">{title}</h1>
    <h5 class="">{subtitle}</h5>
  </div>
</div>
