---

---

<div class="">
  <div class="absolute top-0 left-0 h-screen w-screen overflow-hidden -z-10">
    <video
      autoplay
      loop
      muted
      playsinline
      class="h-screen w-screen bg-background object-cover object-left -z-20"
    >
      <source src="/hero.webm" type="video/webm" />
      Your browser does not support the video tag. :(
    </video>
  </div>

  <!-- Radial overlay go brrrr -->
  <div
    class="absolute top-0 left-0 w-screen h-screen bg-[radial-gradient(ellipse_100%_50%_at_center,_var(--tw-gradient-stops))] from-transparent to-background -z-10"
  >
  </div>

  <div class="max-w-[1280px] mx-auto mt-[40vh]">
    <h1 class="">FUELING THE NEXT GENERATION OF IT TALENT.</h1>

    <p class="">
      Best IT career fair in Finland? That's the plan. Join us for Root Expo on <span
        class="text-accent">Nov 20, 2025</span
      > in Turku.
    </p>
  </div>
</div>
