<br />
<section class="container mx-auto jobdating-section">
  <h4 class="text-lg">
    Job Dating means short 5-10 minute interviews with potential employers.
  </h4>

  <br />

  <p class="text-lg font-bold mb-4">Step by step guide to participate:</p>

  <ol class="list-decimal list-inside mt-2">
    <li class="ml-6 mb-2">
      Download the app from <a
        href="https://apps.apple.com/fi/app/opportune-match/id6754336717"
        target="_blank">App Store</a
      > or <a
        href="https://play.google.com/store/apps/details?id=fi.mankelisolutions.ligatum&hl=en"
        target="_blank">Google Play</a
      > or use the <a href="https://match.opportune.fi" target="_blank"
        >Web Version</a
      >.
    </li>
    <li class="ml-6 mb-2">
      Create a profile and fill in your details. Take your time on this step, as
      this information is crucial for the app to be able to match you with
      companies.
    </li>
    <li class="ml-6 mb-2">Enroll to "Root Expo 2025" -event</li>
    <li class="ml-6 mb-2">
      Wait for invitation to an interview from an employer in the event. We will
      notify you with push notifications (given you grant the permission) and
      emails when you get matched and invited to a job dating interview.
    </li>
  </ol>
</section>

<style>
  .faq-section {
    max-width: 3000px;
    margin: 0 auto;
    padding: 2rem;
  }

  .faq-section h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
</style>
