<br />
<section class="container mx-auto jobdating-section">

    <h4 class="text-lg">Job Dating means short 5-10 minute interviews with potential employers.</h4>

    <br />

    <p class="text-lg font-bold mb-4">Step by step guide to participate:</p>

    <ol class="list-decimal list-inside mt-2">
      <li class="ml-6 mb-2"> Download the app via App Store or Google Play. (Published on 1.11.2025)</li>
      <li class="ml-6 mb-2"> Make an applicant profile.</li>
      <li class="ml-6 mb-2"> Wait for invitation to an interview from an employer in the event.</li>
    </ol>

</section>




<style>
  .faq-section {
    max-width: 3000px;
    margin: 0 auto;
    padding: 2rem;
  }

  .faq-section h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
</style>