---
import { SITE_TITLE } from "../consts";

const { class: className } = Astro.props;
---

<a href="/">
  <div class="flex flex-row mx-4 mt-3 mb-4">
    <img
      src="/logos/rootlogo_white.svg"
      alt="Root Expo Logo"
      class="w-20 md:w-24 lg:w-24 rounded-none transition-transform duration-100 hover:scale-105"
    />
  </div>
</a>
