---
import { SITE_TITLE } from "../consts";

const { class: className } = Astro.props;
---

<h2 class:list={[className, "m-0 text-base"]}>
  <a href="/" class="no-underline text-white hover:text-accent">{SITE_TITLE}</a>
</h2>
