---
const { url } = Astro.props;
---

<div class="flex flex-col items-center justify-center rounded-lg overflow-hidden w-full h-[500px]">
<iframe
  src={url}
  sandbox="allow-scripts allow-same-origin allow-forms"
  allow="autoplay; web-share; xr-spatial-tracking"
  class="w-full h-full rounded-lg"
></iframe>
</div>
