---
interface Props {
    number: string;
    description: string;
}

const { number, description } = Astro.props;
---

<div class="bg-container w-full h-full p-6 rounded-lg">
    <h3 class="text-center transition-colors duration-300">
        {number}
    </h3>
    <p class="mt-2 transition-colors duration-300">
        {description}
    </p>
</div>