---
import PricingCard from "./PricingCard.astro";
---

<div class="grid px-6 justify-items-center">

  <PricingCard
    name="PARTNER"
    price="499 €"
    points={[
      "Exhibition stand 2,5m x 2m",
      "Space for roll-ups",
      "Logo placement on website and marketing materials",
      "One customized social media promotion",
      "Free coffee for representatives",
    ]}
    text="Excited to promote your company even more with a keynote? Reach out!"
  />
</div>
