<br/>
<section class="container mx-auto px-6 mb-10 flex justify-center">

    <div class="grid grid-cols-[auto,minmax(0,1fr)] sm:grid-cols-[max-content,1fr] gap-x-0 gap-y-3 bg-container rounded-lg py-6 px-0 shadow-root-card w-full">

    <h4 class="text-lg font-semibold text-accent text-left">12:00</h4>
    <p class="text-lg font-montserrat">Doors open.</p>

    <h4 class="text-lg font-semibold text-accent text-left">12:10–12:55</h4>
    <p class="text-lg font-montserrat">Keynote: Juha-Matti Santala, Full-Stack Developer at Reaktor &mdash; How to Build a Developer Portfolio.</p>

    <h4 class="text-lg font-semibold text-accent text-left">13:15–14:00</h4>
    <p class="text-lg font-montserrat">Keynote: Mikko Hyppönen, Chief Research Officer at Sensofusion &mdash; Technology and Security.</p>

    <h4 class="text-lg font-semibold text-accent text-left">14:20–15:05</h4>
    <p class="text-lg font-montserrat">Keynote: Tarmo Pajunen, CTO & Co-founder at Brillian &mdash; How to Succeed in the Era of Intelligence.</p>

    <h4 class="text-lg font-semibold text-accent text-left">15:25–16:10</h4>
    <p class="text-lg font-montserrat">Keynote: Joonas Korgan, CEO & Founder at Identio &mdash; Entrepreneurship in IT: Learning from Failures.</p>

    <h4 class="text-lg font-semibold text-accent text-left">16:15-17:00</h4>
    <p class="text-lg font-montserrat">Workshop: TEK is hosting a networking workshop where you can develop your communication skills.</p>

    <h4 class="text-lg font-semibold text-accent text-left">17:00</h4>
    <p class="text-lg font-montserrat">Event ends.</p>

    <p class="mb-10"></p>
    <p></p>

    <h4 class="text-lg font-semibold text-accent text-left">18:00-22:00</h4>
    <p class="text-lg font-montserrat">Afterparty by Reaktor. See access instructions below.</p>

  </div>
</section>