---
interface Props {
  icon: string;
  name: string;
  url: string;
}

const { icon, name, url } = Astro.props as Props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class="block">
  <div class="flex flex-row gap-3 cursor-pointer mx-4">
    <div class="">
      <img src={`/socials/${icon}`} alt={`${name}`} class="w-10 h-10 display" />
    </div>
    <div class="">
      <p class="">{name}</p>
    </div>
  </div>
</a>
