---
interface Props {
  icon: string;
  name: string;
  url: string;
}

const { icon, name, url } = Astro.props as Props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class="block">
  <div class="flex flex-row gap-3 cursor-pointer">
    <div class="">
      <img src={`/socials/${icon}`} alt={`${name}`} class="w-8 h-8 display" />
    </div>
    <div class="self-center">
      <h2 class="">{name}</h2>
    </div>
  </div>
</a>
