---
import SingleSocialsLink from "./SingleSocialsLink.astro";
---

<div class="flex flex-col gap-3 md:gap-4 lg:gap-5 mt-2 md:mt-4 lg:mt-6">
  <SingleSocialsLink
    icon="instagram.svg"
    name="Instagram"
    url="https://www.instagram.com/rootexpo.fi/"
  />
  <SingleSocialsLink
    icon="tiktok.svg"
    name="TikTok"
    url="https://www.tiktok.com/@rootexpo.fi"
  />
  <SingleSocialsLink
    icon="linkedin.svg"
    name="LinkedIn"
    url="https://www.linkedin.com/company/roothq/"
  />
</div>
