---
import SpeakerCard from './SpeakerCard.astro';
---

<div class="flex overflow-x-auto space-x-4 snap-x snap-mandatory sm:grid sm:grid-cols-3 lg:grid lg:grid-cols-3 gap-8 max-w-[1280px] mx-auto px-6 mb-8">

    <SpeakerCard
      image="/speakers/randomdude.jpg"
      name="A random guy"
      title="Tech Startup, Chief Executive Officer"
      text=""
    />

    <SpeakerCard
      image="/speakers/randomdude2.jpg"
      name="Testi"
      title="Joku, Toimari"
      text=""
    />

    <SpeakerCard
      image="/speakers/randomdude3.jpg"
      name="Petteri"
      title="Rootexpo, Chief Technical Officer"
      text=""
    />

</div>


<! grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-8 max-w-[1280px] mx-auto px-6 mb-8>