---
import Title from "./Title.astro";
import speakers from "../data/speakers.json";

import SpeakerSwiper from "./SpeakerSwiper.jsx";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const speakerList = speakers;
---

<Title text={title || ""} />
<div>
  <SpeakerSwiper speakers={speakerList} client:load/>
</div>

